.landing-page {
    background-image: url(../img/oilRigField.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-container {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    color: #333;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    position: relative;
}

.landing-content {
    text-align: center;
}