.history-container {
  background: var(--container-background);
  backdrop-filter: blur(10px); /* Add a blur effect */
  padding: 80px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 800px;
  align-items: center;
  font-size: 20px;
  animation: fadeIn 0.5s ease forwards;
}

.tablebox {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 16px;
}

.history-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../img/background.webp"); /* Add your image path */
  background-size: cover;
  background-position: center;
  color: var(--text-color);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
